<!-- -->
<launch>
        <param name="robot_description"
        textfile="$(find little_car)/urdf/carfirst.urdf"/>
        
        <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher"/>
        
		<node name="rviz" pkg="rviz" type="rviz" respawn="false" output="screen"/>
</launch>
